<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >DatingApp</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul
        class="navbar-nav me-auto mb-2 mb-md-0"
        *ngIf="accountService.currentUser$ | async"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/members"
            routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <img [src]="user.photoUrl" [alt]="user.username" class="mx-2" />

        <a class="dropdown-toggle text-light" dropdownToggle
          >Welcome {{ user.username | titlecase }}</a
        >
        <div class="dropdown-menu" *bsDropdownMenu>
          <a class="dropdown-item" routerLink="/members/edit">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Log out</a>
        </div>
      </div>

      <form
        *ngIf="!(accountService.currentUser$ | async)"
        #loginForm="ngForm"
        class="d-flex app-flex-column-sm"
        style="margin-inline-start: auto"
        role="login"
        (ngSubmit)="login()"
      >
        <input
          class="form-control me-2"
          type="text"
          [(ngModel)]="loginModel.username"
          name="username"
          placeholder="username"
          aria-label="username"
        />
        <input
          class="form-control me-2"
          type="password"
          [(ngModel)]="loginModel.password"
          name="password"
          placeholder="password"
          aria-label="password"
        />
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
<div style="margin-bottom: 80px"></div>
